/**
 * Categories Module Style Sheet for Phire CMS 2
 */

#category-form {
    margin: 10px auto 10px auto;
    padding: 15px 0 15px 0;
    width: 100%;
    min-height: 460px;
    border-top: solid 1px #ccc;
}

#category-form > dl:first-child {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    width: 160px;
    border-left: solid 1px #ccc;
    float: right;
    min-height: 525px;
    height: 100%;
}

#category-form > dl:first-child > dt {
    width: 100%;
}

#category-form > dl:first-child > dt {
    margin: 0 0 5px 0;
    border-bottom: dotted 1px #aaa;
}

#category-form-field-group-1 > dd:first-child, #category_parent_id {
    width: 160px;
}

#category-form-field-group-2 {
    width: calc(100% - 220px);
}

#category-form-field-group-2 > dt, #category-form-field-group-2 > dd {
    width: 98%;
    padding-left: 4px;
}

.categories-nav-icon:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f046";
    display: inline-block;
    margin: 0;
    padding: 0 5px 0 0;
    vertical-align: middle;
    color: #b4b5b4;
    font-size: 1.5em;
    width: 25px;
    text-align: center;
}

.categories-header {
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
}

.categories-header:before {
    font-family: "FontAwesome";
    font-weight: normal;
    content: "\f046";
    margin: 0;
    padding: 0 8px 0 0;
    color: #b4b5b4;
}

input.category-order-value {
    margin: 1px 0 0 2px;
    padding: 2px;
    font-size: 0.75em;
    display: inline-block;
    float: right;
    width: 18px;
    height: 15px;
    text-align: center;
    background-color: #dedede;
    border-radius: 0;
    border: none;
}

.category-checkbox-value {
    margin: 0;
    padding: 2px;
    font-size: 0.825em;
    display: inline-block;
    float: right;
    width: 125px;
    border-bottom: dotted 1px #ccc;
}